In [3]:
import pandas as pd

import zipfile as zf

In [6]:
try:
    with zf.ZipFile("Total.csv.zip", "r") as zip_folder:
        with zip_folder.open("Total.csv", "r") as file: 
            data = pd.read_csv(file, dtype="unicode")
except zf.BadZipfile:
    print("Bad Zip file")

In [9]:
data

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
312877,Daniel W Plautz,Public Service Trainee,0.00,0.00,0.00,0.00,0.00,0.00,2018
312878,David J Thompson,Deputy Sheriff,0.00,0.00,0.00,0.00,0.00,0.00,2018
312879,Keiko Weng Yee Lau,Public Service Trainee,0.00,0.00,0.00,0.00,0.00,0.00,2018
312880,David Wong,Deputy Sheriff,0.00,0.00,0.00,0.00,0.00,0.00,2018
312881,Debora E Howard,Recreation Leader,0.00,0.00,0.00,0.00,0.00,0.00,2018

In [15]:
def get_employee_details(employee_name, employees):
    formatted_name = employee_name.title()

    try:
        employee_details = employees[formatted_name]
        return employee_details
    except KeyError:
        return None  # Return None if employee not found

def process_salary_data(salary_data):
    try:
        # Print the original salary data
        print("Original Salary Data:")
        for employee, salary in salary_data.items():
            print(f"{employee}: ${salary}")

        # Calculate and print average salary
        total_salary = sum(salary_data.values())
        average_salary = total_salary / len(salary_data)
        print("\nAverage Salary:", "${:,.2f}".format(average_salary))

        # Find and print the highest paid employee
        highest_paid_employee = max(salary_data, key=salary_data.get)
        print("\nHighest Paid Employee:", highest_paid_employee)
        print("Salary:", "${:,.2f}".format(salary_data[highest_paid_employee]))

    except ZeroDivisionError:
        print("Error: Division by zero. Ensure there are employees in the salary data.")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

# Example usage:
employees_data = {
    'GARY JIMENEZ': {'id': 1, 'position': 'CAPTAIN III POLICE DEPARTMENT'},
    'ALBERT PARDINI': {'id': 2, 'position': 'CAPTAIN III POLICE DEPARTMENT'},
    'CHRISTOPHER CHONG': {'id': 3, 'position': 'WIRE ROPE CABLE MAINTENANCE MECHANIC'},
    # Add more employees as needed
}

salary_data = {
    'GARY JIMENEZ': 538909.28,
    'ALBERT PARDINI': 335279.91,
    'CHRISTOPHER CHONG': 332343.61,
    # Add more employees and salaries as needed
}

try:
    employee_name_input = input("Enter employee name: ")
    employee_details = get_employee_details(employee_name_input, employees_data)

    if employee_details:
        print("\nEmployee Details:")
        for key, value in employee_details.items():
            print(f"{key}: {value}")

    process_salary_data(salary_data)

except KeyboardInterrupt:
    print("\nProgram terminated by the user.")
except Exception as e:
    print(f"An unexpected error occurred: {e}")

Enter employee name:  GARY JIMENEZ

Original Salary Data:
GARY JIMENEZ: $538909.28
ALBERT PARDINI: $335279.91
CHRISTOPHER CHONG: $332343.61

Average Salary: $402,177.60

Highest Paid Employee: GARY JIMENEZ
Salary: $538,909.28